* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: rgba(30, 55, 36);
  --logo-bg: rgba(87, 89, 88, 0.5);
  --hover-color: rgba(255, 255, 255, 0.5);
}

@font-face {
  font-family: TravelNowFont;
  src: url(\fonts\crustaceans-signature-demo-1\Crustaceans-SignatureDEMO-Regular.otf)
        format('opentype');
}

body::before {
  /* content:url(images/bg01.jpg); */
  content: ""; 
  background-image: url(images/bg01.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center center;
  opacity: 60%;
  /* position:relative;
    position:absolute; */
  position: fixed; /* KEY */
  inset: 0;
  z-index: -1;
}

.brand-title{
    font-family: 'TravelNowFont';
}
.brand-title{
    flex: 3 1 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-logo {
  width: 100%;
  height: auto;
}
.main-logo-ctr {
  width: 80px;
  height: 80px;
  background-color: var(--logo-bg);
}

/* NAVIGATION & HEADER */
.title {
  display: flex;
  align-items: center;
}
nav a {
  color: #fff;
}
nav {
  background-color: var(--main-color);
  height: 5vh;
}
nav ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-basis: 25vw;
}

nav ul li {
  flex: 1 1 24vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li:hover {
  background-color: var(--hover-color);
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.my-hr {
  border: none;
  height: 5px;
  background-color: var(--main-color);
  margin-top: 3%;
}

.logo-social {
  height: 2.5em;
  width: 2.5em;
}
.info-links {
  text-decoration: none;
  color: black;
}



main {
  min-height: 80vh;
  grid-row:1/3;
}

.main-content {
  display: flex;
}

.body-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
}

aside {
    /* grid-row: 1/ span 2; */
  grid-row: 1/ 3;
  height: 100%;
  padding: 15px;
  border: 8px solid black;
  border-radius: 5%;
}
aside a {
  color: black;
  display: block;
  padding:15px;
  height:
}
/* aside a :hover */
aside a:hover{
    background-color: var(--hover-color);
    border-radius:2em;
}


/* FOOTER */
footer {
  background-color: rgba(85, 145, 242, 0.5);
}

.follow {
  display: grid;
  grid-template-columns: 200px 4fr;
}
.follow-logos{
    display:flex;
    /* flex-direction: column; */
    gap:1em;
    padding: 0 1em;
}
.follow-links {
  display: flex;
  justify-content: space-around;
}

small {
  width: 24vw;
  margin: 0 auto;
  text-align: center;
}

.attribution {
  text-decoration: none;
  color: black;
  font-size: smaller;
  display: block;
}

.info{
  display:flex;
  justify-content: space-between;
  position:relative;
}
mark{
  position:absolute;
  bottom:0;
  right:0;
}